[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
pyyaml = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"

[scripts]
start = "python run.py"
local = "python local.py"